Invoice_workflow.json
{
  "name": "Invoice workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "19PlPJCQA-Nv_ibPRbaWsTl24g-gsgWuN",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19PlPJCQA-Nv_ibPRbaWsTl24g-gsgWuN"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -260,
        0
      ],
      "id": "e8b039df-d163-4b4f-a8cb-3e80a8fe847b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VD4w1iCsWwBmgZsj",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        180,
        0
      ],
      "id": "490ce525-e908-45f8-8a78-8c55ce2cf841",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice number",
              "description": "the number of invoice",
              "required": true
            },
            {
              "name": "Client name",
              "description": " the Client name.",
              "required": true
            },
            {
              "name": "Client number",
              "type": "number",
              "description": "Contact number of client",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "email of the client ",
              "required": true
            },
            {
              "name": "Due Date",
              "type": "date",
              "description": "Due date of invoice ",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "total amount of the product ",
              "required": true
            },
            {
              "name": "Invoice Date",
              "description": "invoice data of product ",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        400,
        0
      ],
      "id": "d0f85f88-8c37-4592-a1e5-0022306fb3f9",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        500,
        220
      ],
      "id": "a14c8a4d-a426-4623-ba34-e7c867fed720",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gPcNkPSvCIh3klGz",
          "name": "OpenAi n8n rag"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wyuZXRQrEJNToErIM_JCBkQ63rOOoa15lcdoO4WWDB8",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wyuZXRQrEJNToErIM_JCBkQ63rOOoa15lcdoO4WWDB8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wyuZXRQrEJNToErIM_JCBkQ63rOOoa15lcdoO4WWDB8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Num": "={{ $json.output['Invoice number'] }}",
            "Client  Name ": "={{ $json.output['Client name'] }}",
            "Client  Email.": "={{ $json.output['Client Email'] }}",
            "Client Num": "={{ $json.output['Client number'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Invoice date": "={{ $json.output['Invoice Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Num",
              "displayName": "Invoice Num",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client  Name ",
              "displayName": "Client  Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client  Email.",
              "displayName": "Client  Email.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Num",
              "displayName": "Client Num",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client address",
              "displayName": "Client address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice date",
              "displayName": "Invoice date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        760,
        -20
      ],
      "id": "f2a968d7-7047-47d3-98b8-9c19a45ed786",
      "name": "Update DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MvizJnAT26FMTlWS",
          "name": "Google Sheets account 2 new "
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {}
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -40,
        0
      ],
      "id": "f788f501-4eb2-4199-a5c0-a0c0f73175fe",
      "name": "Binary File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VD4w1iCsWwBmgZsj",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Your a email expert. You will be going to receive Invoice information .Your job to notify the internal billing team  that Invoice was receive/sent."
            },
            {
              "content": "=Invoice number:{{ $json['Invoice Num'] }}\nClient name : {{ $json['Client  Name '] }}\nClient Email: {{ $json['Client  Email.'] }}\nClient number: {{ $json['Client Num'] }}\nInvoice Date:{{ $json['Invoice date'] }}\nTotal Amout : {{ $json['Total Amount'] }}\n\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        900,
        -20
      ],
      "id": "526a5ea2-9a4f-4cd6-a009-55d74675515e",
      "name": "Email sender",
      "credentials": {
        "openAiApi": {
          "id": "gPcNkPSvCIh3klGz",
          "name": "OpenAi n8n rag"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "rohansingh28092001@gmail.com",
        "subject": "={{ $json.message.content.notification.subject }}",
        "emailType": "text",
        "message": "={{ $json.message.content.notification.message }}\n{{ $json.message.content.notification.invoice_details }}\n{{ $json.message.content.notification.action_required }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        220
      ],
      "id": "cc25cea6-def2-4763-ac36-2030c2ca005a",
      "name": "Send Gmail",
      "webhookId": "d35193eb-8950-4a5f-9b31-1a1d6b162678",
      "credentials": {
        "gmailOAuth2": {
          "id": "J15YgGMYCxqkeYY2",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {
    "Google Drive Trigger": [
      {
        "json": {
          "parents": [
            "19PlPJCQA-Nv_ibPRbaWsTl24g-gsgWuN"
          ],
          "lastModifyingUser": {
            "displayName": "Rohan Singh",
            "kind": "drive#user",
            "me": true,
            "permissionId": "12885814857094747935",
            "emailAddress": "rohansingh28092001@gmail.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJJbqlYWM20moxDE8Ls26SNkdGxYWpCji3y1N5jkCqbH2vfSw=s64"
          },
          "owners": [
            {
              "displayName": "Rohan Singh",
              "kind": "drive#user",
              "me": true,
              "permissionId": "12885814857094747935",
              "emailAddress": "rohansingh28092001@gmail.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJJbqlYWM20moxDE8Ls26SNkdGxYWpCji3y1N5jkCqbH2vfSw=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "12885814857094747935",
              "type": "user",
              "emailAddress": "rohansingh28092001@gmail.com",
              "role": "owner",
              "displayName": "Rohan Singh",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJJbqlYWM20moxDE8Ls26SNkdGxYWpCji3y1N5jkCqbH2vfSw=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "12885814857094747935"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "kind": "drive#file",
          "id": "10q8smAb-WHk4qReR4r4UGQEipDvZmC2C",
          "name": "company_invoice_4.pdf",
          "mimeType": "application/pdf",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "3",
          "webContentLink": "https://drive.google.com/uc?id=10q8smAb-WHk4qReR4r4UGQEipDvZmC2C&export=download",
          "webViewLink": "https://drive.google.com/file/d/10q8smAb-WHk4qReR4r4UGQEipDvZmC2C/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBPY5SjdkLeJvXK2WIwNdnl4EVRpLvTzLPntZE7u8Ej715CggE5PDRT3zf93LW8ixTWDWs_i4F4fguqWdRQKEirGZCqKogrsTok0k_-iXyci-OU=s220",
          "thumbnailVersion": "1",
          "viewedByMe": true,
          "viewedByMeTime": "2025-06-19T12:44:59.313Z",
          "createdTime": "2025-06-19T12:44:59.313Z",
          "modifiedTime": "2025-06-19T12:39:27.000Z",
          "modifiedByMeTime": "2025-06-19T12:39:27.000Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "company_invoice_4.pdf",
          "fullFileExtension": "pdf",
          "fileExtension": "pdf",
          "md5Checksum": "8f0cac47b73067baf58cd05ec6495b8f",
          "sha1Checksum": "0840b3c8171d1f73ed5b34cdbb5df8de94e892b6",
          "sha256Checksum": "85838fad7ef40fd3fe9a70c82335d2485af62c9201282c9b1ae712936f9b339b",
          "size": "1118",
          "quotaBytesUsed": "1118",
          "headRevisionId": "0Bwk2NCOvrzoRLzRSUFRQWE1FckM5cG9laGpIbGExS0hLaG40PQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Update DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB": {
      "main": [
        [
          {
            "node": "Email sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email sender": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ce7234da-45a9-4002-b185-829646573d8d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6fe988fbc395c8d8e534866f4635c567085d96532ee4acdfc9230aaca5f10f74"
  },
  "id": "bQsaEe06RhyYfmt7",
  "tags": []
}