Rag_Pipeline__chatbot.json
{
  "name": "Rag Pipeline  chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "19PlPJCQA-Nv_ibPRbaWsTl24g-gsgWuN",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19PlPJCQA-Nv_ibPRbaWsTl24g-gsgWuN"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1cb9dc5d-d606-49b3-9ba0-23ab1d0f1a60",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QQpnEQCDIJwaJl9R",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "faaaa445-38c8-4bf3-a403-36491a8b8231",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QQpnEQCDIJwaJl9R",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        420,
        -80
      ],
      "id": "f312aea7-bf77-461e-8b7c-4359010128f6",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "OJRjOpHmmjrRSZ7b",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        580,
        220
      ],
      "id": "cf6efb16-6f11-44e2-9865-2119e12bd73e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        680,
        440
      ],
      "id": "aac8b4e0-46a1-4412-bad9-62bfbccf6082",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        220,
        -160
      ],
      "id": "36469ffe-99a7-44ed-a433-597f149e9877",
      "name": "Wait",
      "webhookId": "ff14be7e-3cce-4c27-bd68-e2de5c3fdb1d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        320
      ],
      "id": "4967d2ae-ad60-4a37-8ec8-a68fa46038da",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "gPcNkPSvCIh3klGz",
          "name": "OpenAi n8n rag"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        880,
        -20
      ],
      "id": "7b0e7e1f-9457-4be4-af8a-b4ebb95756fd",
      "name": "When chat message received",
      "webhookId": "0b15d0a1-536b-4e2b-a924-620318df226e"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1100,
        -20
      ],
      "id": "11d2d653-711c-4718-a992-117950e83014",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1020,
        400
      ],
      "id": "cd2caeed-4616-4ea9-ab0a-89cdd64fd26c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gPcNkPSvCIh3klGz",
          "name": "OpenAi n8n rag"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1200,
        200
      ],
      "id": "318b9373-1906-4b45-a567-f0a6b6e25ee1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "pipelineChatbot",
        "toolDescription": "work for my data and provide me important data from my file",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        1320,
        220
      ],
      "id": "015e8338-9981-4d3a-98c9-f7ac0c70b62e",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "OJRjOpHmmjrRSZ7b",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1460,
        380
      ],
      "id": "be89ba0d-1421-486a-b9c8-38b877bd6c7b",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "gPcNkPSvCIh3klGz",
          "name": "OpenAi n8n rag"
        }
      }
    },
    {
      "parameters": {
        "content": "Note:\nEncountered an embedding issue with Pinecone — it appears to be related to a missing or invalid token. Please handle this later, and once the problem is resolved, push the updated workflow to GitHub.",
        "height": 120,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1460,
        -180
      ],
      "id": "3d51bf8e-cf2b-45d4-8a91-507ba1450297",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "66da9fcf-8c08-43c3-8d06-42ab679885cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6fe988fbc395c8d8e534866f4635c567085d96532ee4acdfc9230aaca5f10f74"
  },
  "id": "DCZf4KokQPlqEy6Q",
  "tags": []
}